.home {
  flex-grow: 1;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .title {
  width: 100%;
  font-size: 16px;
  text-align: center;
  font-family: "Righteous", cursive;
}

.home .title p {
  line-height: 50px;
  margin-bottom: 35px;
}

.home .title p:first-child {
  color: #3f71f4;
  text-transform: uppercase;

}


.home .title button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 24px;
  margin-top: 30px;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 999px;
  background-color: #3f71f4;
  font-family: "Righteous", cursive;
  text-transform: uppercase;
  
}

.home .title button:hover {
  color: #000000;
  background-color: #dddddd;
}

.home .person {
  width: 100%;
  margin-top: 20px;
}

.home .person img {
  width: 100%;  
  border-radius: 10px;
  -webkit-box-shadow: 2px 44px 69px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 44px 69px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 44px 69px 0px rgba(0,0,0,0.75);
}

@media (min-width: 800px) {
  .home {
    flex-direction: row;
    justify-content: space-between;
  }
  .home .title,
  .home .person {
    width: 50%;
    margin-top: 0;
    text-align: left;
    font-size: 25px;
  }
  .home .person img {
    width: 100%;
  }
}
